* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Courier New", sans-serif;
    line-height: 1.4;
    padding: 15rem;
}

.flex {
    display: flex;
    &.wrap {
        flex-flow: row nowrap;
    }
    &.col {
        flex-flow: column;
        &.wrap {
            flex-flow: column nowrap;
        }
    }
}

.square-item {
    border-bottom: solid black 0.1rem;
}

.datepicker-container {
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border: solid black 0.1rem;
    padding: 2rem;

    & .container-input {
        border: solid black 0.1rem;
        padding: 0.1rem;
        align-items: center;
        justify-content: center;

        & input {
            width: 30rem;
            height: 5rem;
        }

        & button {
            cursor: pointer;
        }

        & img {
            height: 4.3rem;
        }
    }

    & .calendar-container {
        border: solid black 0.1rem;

        & .container-header {
            align-items: center;
            justify-content: center;
            padding: 1rem 0.3rem;
            gap: 8rem;
        }

        & .weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;
            justify-content: center;
            padding: 1rem 0.3rem;
            gap: 2rem;
            font-size: 1.62rem;
        }

        & button {
            border: 0;
            background: none;
            cursor: pointer;
        }

        & span {
            font-size: 1.92rem;
        }

        & img {
            height: 3rem;
        }
    }

    & .month-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2rem;
        padding: 1rem;
        font-size: 1.62rem;

        & div::after {
            border: solid black 0.1rem;
        }
        & .day-out-month {
            color: gray;
        }

        & .day-on-month {
            font-weight: 700;
        }

        & .day-on-month:hover,
        .day-out-month:hover {
            background: rgb(175, 162, 162);
            border-radius: 4px;
        }
    }
}
