@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "cabin", sans-serif;
    line-height: 1.4;
}

.flex {
    display: flex;
    &.wrap {
        flex-wrap: wrap;
    }
    &.nowrap {
        flex-flow: row nowrap;
    }
    &.col {
        flex-flow: column;
        &.wrap {
            flex-wrap: wrap;
        }
        &.nowrap {
            flex-flow: column nowrap;
        }
    }
}

main {
    gap: 3rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    .container-cards {
        width: 120rem;
        padding: 1.6rem;
        gap: 2rem;
        border: solid black 0.1rem;
        border-radius: 1.6rem;
        align-items: center;
        justify-content: space-around;

        .cards-top {
            gap: 1.6rem;
            align-items: center;
            justify-content: space-around;
        }
        .cards-middle {
            gap: 1.6rem;
        }
        .cards-footer {
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 2rem;
            gap: 2rem;
            width: 90rem;
            border: #1d2227 solid 0.1rem;
            border-radius: 1rem;
            padding: 10rem;
        }

        .container {
            display: flex;
            flex-flow: column;
            justify-content: center;
            width: 45rem;

            .ballon {
                color: aliceblue;
                position: relative;
                border-radius: 2rem;
                background-color: #1d2227;
                padding: 2rem;
                font-size: 1.6rem;

                &::after {
                    content: "";
                    position: absolute;

                    bottom: -1.5rem;
                    left: 4.5rem;
                    transform: translateX(-50%);

                    width: 0;
                    height: 0;

                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 15px solid #1d2227; /* mesma cor do balão */
                }
            }
        }

        .container-slide {
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .img-circle {
            border-radius: 50%;
            width: 10rem;
        }
        .img-circle-small {
            border-radius: 50%;
            width: 6rem;
        }
        .img-square {
            width: 30rem;
            border-radius: 2rem;
        }
        .user-infos {
            gap: 1rem;
            justify-content: center;
            font-size: 1.6rem;

            .name {
                font-size: 2rem;
                font-weight: 600;
            }
        }
        .user {
            gap: 1rem;
        }

        .card-ballon {
            gap: 2rem;
        }

        .card-border {
            gap: 1.6rem;
            padding: 2.2rem;
            border-radius: 1rem;
            font-size: 1.6rem;
            border: #1d2227 solid 0.1rem;
        }

        .card-square {
            padding: 2rem;
            background-color: #1d2227;
            border-radius: 1rem;
            color: aliceblue;
            height: 30rem;
            width: 60rem;
        }
    }
}
